{% extends 'admin/model/list.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin-posts.css') }}">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
{% endblock %}

{% block model_list_table%}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<div class="main-content">
    <div class="container mt-2">
        <div class="row">
            <div class="col">
                <div class="card shadow">
                    <div class="card-header row border-0">
                        <div class="col-md-8">
                            <a id="all" href="javascript:" class="a-active mb-0 col-md-2">All</a>
                            <a id="waiting" href="javascript:" class="mb-0 col-md-2">Chờ duyệt
                                 {% if stats[0] > 0 %} 
                                <span class="badge text-danger badge-dot pin">
                                    <i class="bg-danger pin__child"></i>
                                </span>
                                {%endif%}
                            </a>
                            <a id="accepted" href="javascript:" class="mb-0 col-md-2">Đang hiển thị</a>
                            <a id="deleted" href="javascript:" class="mb-0 col-md-2">Đã ẩn</a>
                            <a id="expired" href="javascript:" class="mb-0 col-md-2">Đã hết hạn</a>
                            <a id="rented" href="javascript:" class="mb-0 col-md-2">Đã cho thuê</a>
                            <a id="sold" href="javascript:" class="mb-0 col-md-2">Đã bán</a>
                        </div>
                        <div class="position-relative col-md-4">
                            <span class="position-absolute search" style="line-height: 39px;"><i class="fa fa-search"></i></span>
                            <input id="search" type="number" class="form-control w-100" style="padding-left: 1.3rem;" placeholder="Nhập mã bài viết...">
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <p class="col-md-4" style="text-align: start; font-weight: bold;">Tổng số: <span
                            id="total">0</span></p>
                        <a href="{{ url_for('export_expired_posts') }}" class="col-md-8" style="color: darkred; text-align: end;">DS bài viết hết hạn vào ngày mai.</a>
                    </div>
                    <div class="table-responsive">
                        <table class="table align-items-center table-flush">
                            <thead class="thead-light">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Tiêu đề</th>
                                <th scope="col">Ngày đăng</th>
                                <th scope="col">Ngày cập nhật</th>
                                <th scope="col">Trạng thái</th>
                                <th scope="col">Người đăng</th>
                                <th scope="col">Action</th>
                            </tr>
                            </thead>
                            <tbody id="tbody"></tbody>
                        </table>
                    </div>
                    <div class="footer py-4">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block tail %}
<script src="{{ url_for('static', filename='js/status_post.js') }}"></script>
<script src="{{ url_for('static', filename='js/admin.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"
        integrity="sha512-luMnTJZ7oEchNDZAtQhgjomP1eZefnl82ruTH/3Oj/Yu5qYtwL7+dVRccACS/Snp1lFXq188XFipHKYE75IaQQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    var socket = io.connect("http://" + document.domain + ":" + location.port);
    const userBadge = `{{is_new_user}}`;
    const postsBadge = parseInt(`{{stats[1]}}`);
    const reportBadge = parseInt(`{{stats[4]}}`);
    const chatBadge = parseInt(`{{new_chat}}`);
        const currentUser = `{{current_user.id}}`;
    window.onload = () => {
        loadDataRows("All");
    }
</script>
{% endblock %}
